@model Szybkapracapl.ViewModels.ViewOffersViewModel

@{
    ViewBag.Title = "title";
}

@using (Html.BeginForm("ViewOffers", "Offers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.CityId)
        @Html.DropDownListFor(m => m.CityId, new SelectList(Model.Cities, "Id", "Name"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CityId)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>



    <ul>
        @foreach (var offer in Model.Offers)
        {
            <li>@offer.Date, @offer.City.Name, @offer.Employer.Email</li>
        }
    </ul>
}